outputs/*
plugins/flow/*
plugins/generation/*
plugins/inference/*
plugins/kachi/*
plugins/testing/*
plugins/unsupervised/*
plugins/training/*
config/*
__pycache__/*
**/__pycache__/*
.idea/*
weights/*
projects/*
settings.json
.trae/*
.gitignore
venv/*
.vscode/*
.trae/*
.mimocode/*
X-AnyLabeling/*
results/*
scripts/*
logs/*
core/runs/*
_test_titlebar.py
.ppt/*
/docs/